config.ini
config-xpui.ini.drib.txt
Backup
Extensions/Vibrant.min.js
Extensions/drib*
Extensions/hide*
Extensions/Spotify-Adblock
Extensions/Custom App Backup
Extensions/lyrics-plus
Extracted
Themes/Dribbblish
Themes/spicetify-themes
Themes/Fluent*
Themes/DribbblishDynamic
Themes/Comfy*
CustomApps
node_modules
.DS_Store
Extensions/fullscreen
Extensions/full-screen-old
Extensions/miscExt.js
Extensions/fluent.js
Extensions/fluent2.js
Extensions/fullScreen3.js
Extensions/Comfy.js
Extensions/tvMode.js
Extensions/savePlaylist.js
Extensions/autoSavePlaylists.js
Extensions/spotifyFullscreenCanvas.js
Extensions/autoSkip.js
