:root {
    --player-bar-height: 105px;
}
.main-connectBar-connectBar {
    --triangle-position: 179px;
}
.main-entityTitle-subtitle.main-entityTitle-gray,
.main-entityHeader-metaDataText,
.main-duration-container,
.main-connectBar-connectBar.main-type-mesto{
    color: var(--spice-text);
}
/* Hide Banner Ads, Upgrade button, Upgrade to Premium in Menu */
.main-leaderboardComponent-container,
.main-buttons-button._110dbc41d89af63f97cdd8b7cd7fea47-scss.main-topBar-UpgradeButton,
#context-menu > div > ul > li a[href="https://www.spotify.com/premium/"],
.main-contextMenu-menuItemButton.main-contextMenu-disabled,
.desktoproutes-homepage-takeover-ad-hptoComponent-parentContainer.contentSpacing,
.desktoproutes-homepage-takeover-ad-hptoComponent-parentContainer,
.desktoproutes-homepage-takeover-ad-hptoComponent-container,
.main-topBar-UpgradeButton,
.main-rootlist-rootlistDividerContainer,
.connect-header,
.connect-title__help 
/*.main-userWidget-displayName.main-type-mestoBold,
.main-userWidget-box svg*/ {
    display: none !important;
}
/* Make Scrollbar thinner and rounded*/
.os-scrollbar-handle{
    border-radius: 2px !important;
}
.os-scrollbar-handle:hover{
    border-radius: 0px !important;
}
.os-scrollbar-track{
    width: 3px !important;
    background-color: transparent !important;
    border-radius: 2px !important;
}
.os-scrollbar-track:hover,
.scroll-drag{
    width: 15px !important;
    border-radius: 0px !important;
    background-color: rgba(var(--spice-rgb-selected-row),.2) !important;
}
/* Remove Topbar background colour */
/*.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}*/

/*Change context menu color*/
.main-contextMenu-menu,
.media.connect-device-list-item,
.connect-device-list-container{
    background-color: var(--spice-c-menu) !important;
}
.media.connect-device-list-item:hover,
.media.connect-device-list-item:focus{
    background-color: rgba(var(--spice-rgb-selected-row),.1) !important;
}
/*Change input styles to transparent*/
input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}
/* Add Shadow to context menu */
.main-entityHeader-shadow,
.main-contextMenu-menu,
.connect-device-list-container {
    box-shadow: 0 4px 20px #21212130;
}
.main-trackList-playingIcon,.main-rootlist-statusIcons {
    filter: hue-rotate(70deg) saturate(80%);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

/* Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
    background: var(--spice-button);
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 5px 0 -10px;
}
/*Colorize play button*/
.main-playPauseButton-button {
    background-color: var(--spice-button);
    color: white;
    --button-size: 40px !important;
    box-shadow: var(--spice-shadow) 0 0 10px 2px;
    margin-top: -4px;
}
/*
.main-playPauseButton-button {
    background-color: var(--spice-main);
    box-shadow: var(--spice-shadow) 0 5px 9px 0px;
    --button-size: 43px !important;
    color: var(--spice-text);
}*/


/* Queue page header */
.queue-queue-title,
.queue-playHistory-title {
    color: var(--spice-text) !important;
}

/* Cards */
.main-cardImage-imageWrapper {
    background-color: transparent;
}

.main-rootlist-rootlistDivider {
    background-color: unset;
}

.main-nowPlayingBar-nowPlayingBar {
    height: var(--player-bar-height);
}

[aria-label="Playing"] {
    color: var(--spice-text);
}
/* Fix design fault */

@media (min-width: 1024px) {
    .main-trackList-trackListHeader {
        margin: 0 -33px 16px;
    }
}

.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
    background: var(--spice-main);
    border: 0;
}

.main-trackList-trackListHeaderStuck .main-trackList-trackListHeaderRow {
    border-bottom: 1px solid rgba(var(--spice-rgb-button-disabled),.8);
}
/* Topbar visibility bug */

.main-topBar-topbarContent:not(.main-topBar-topbarContentFadeIn)>* {
    opacity: unset !important;
}

.main-entityHeader-topbarContent:not(.main-entityHeader-topbarContentFadeIn)>* {
    opacity: 0 !important;
}


/* Improve Sidebar Buttons */

/*.main-likedSongsButton-likedSongsIcon {
    background: var(--spice-text);
}
.main-likedSongsButton-likedSongsIcon {
    color: var(--spice-sidebar);
}*/
.main-createPlaylistButton-createPlaylistIcon{
    color: var(--spice-main);
    background: linear-gradient(311deg, rgba(245,0,245), rgba(0,245,245))
   }         
.main-trackList-trackListHeaderRow {
    border-bottom: 1px solid rgba(var(--spice-rgb-button-disabled),.8)
}
.main-trackList-trackListHeaderStuck .main-trackList-trackListHeaderRow {
    border-bottom: 1px solid rgba(var(--spice-rgb-button-disabled),.8);
}
.main-duplicateTracksDialog-container {
    background-color: var(--spice-card);
    color: var(--spice-subtext);
}
.main-duplicateTracksDialog-secondaryButton {
    color: var(--spice-text);
}
._9eb5acf729a98d62135ca21777fef244-scss {
    color: var(--spice-card);
}
.main-entityHeader-image {
    border-radius: 10%;
}
/*.x-downloadButton-button {
    box-shadow: var(--spice-shadow) 0 5px 4px 0px;
    background: var(--spice-player);
    border-radius: 50%;
}
*/
/* Recolor sub-buttons */

.main-moreButton-button {
    color: var(--spice-sub-button);
}
.x-downloadButton-button {
    color: var(--spice-sub-button) !important;
}
.x-downloadButton-button:hover {
    color: var(--spice-text) !important;
}
.main-entityHeader-metaDataText {
    color: var(--spice-sub-button);
}
.main-duration-container {
    color: var(--spice-sub-button);
}
/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.5;
}
.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 100vh;
}
.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent,transparent),linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}
/** Sidebar */
.main-rootlist-rootlistDivider {
    margin-bottom: 8px;
}

.main-rootlist-rootlistPlaylistsScrollNode {
    padding: 0;
}

#spicetify-playlist-list {
    padding-top: 8px;
}
.main-collectionLinkButton-collectionLinkButton .main-collectionLinkButton-icon,
.main-collectionLinkButton-collectionLinkButton .main-collectionLinkButton-collectionLinkText {
    opacity: 1;
}

.link-subtle {
    color: var(--spice-text);
}
/** Buddy bar */
.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a,
.main-buddyFeed-activityMetadata .main-buddyFeed-username a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink {
    color: var(--spice-text);
}

.main-navBar-navBarLinkActive {
    background: var(--spice-button);
}

div.GlueDropTarget.personal-library >*.active {
    background: var(--spice-button) !important;
}
.main-contextMenu-menuHeading,
.main-contextMenu-menuItemButton,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
    color: var(--spice-text);
}