#fsd-overview-card {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-color);
    position: fixed;
    top: 20px;
    left: 50%;
    text-align: center;
    z-index: 50;
    transition: all 0.8s ease-in-out;
    padding: 20px;
    border-radius: 20px;
    opacity: 1;
    transform: translateX(-50%) scale(1) translateY(0px);

    #fsd-time-display {
        margin-bottom: 12px;
        font-size: 24px;
        font-weight: 700;
        line-height: initial;
    }

    #fsd-overview-pin-button {
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(150, 150, 150, 0.1);
        width: 40px;
        height: 40px;
        padding: 4px;
        cursor: pointer;
        svg {
            width: 1.5em;
            height: 1.5em;
        }
    }

    #fsd-overview-button-container {
        display: flex;
        flex-direction: row;
        column-gap: 12px;

        .fsd-overview-button {
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(150, 150, 150, 0.1);
            width: 40px;
            height: 40px;
            padding: 8px;
            cursor: pointer;
            transition:
                all 0.3s var(--transition-function),
                transform 0.1s var(--transition-function);

            &:hover {
                transform: scale(1.1);
                background: rgba(0, 0, 0, 0.5);
            }
            svg {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

    &.c-hidden {
        transform: translateX(-50%) scale(0.5) translateY(-300px);
    }
    &:hover {
        transform: translateX(-50%) scale(1) translateY(0px);
        background-color: rgba(0, 0, 0, 0.2);

        .fsd-overview-button {
            background: rgba(0, 0, 0, 0.3);
        }
    }
    &.card-pinned {
        background: transparent;
        #fsd-overview-button-container,
        #fsd-overview-pin-button {
            display: none;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            #fsd-overview-button-container {
                display: flex;
            }

            #fsd-overview-pin-button {
                display: block;
            }
        }
    }
}
