#fsd-progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    #fsd-progress-bar {
        width: 100%;
        height: 6px;
        border-radius: 4px;
        background: rgba(var(--main-color), 0.35);
        cursor: pointer;
        margin: 10px auto;
        display: flex;
        align-items: center;
        &:hover,
        &.dragging {
            #fsd-progress-bar-inner,
            #progress-thumb {
                background: var(--theme-main-color);
                filter: saturate(1.5) contrast(1.5);
            }
            #progress-thumb {
                display: block;
            }
        }
        &.dragging {
            #progress-thumb {
                transform: scale(1.4);
            }
        }
    }
    #fsd-progress-bar-inner {
        height: 100%;
        border-radius: 4px;
        background: var(--primary-color);
    }

    #progress-thumb {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--primary-color);
        float: right;
        position: relative;
        left: 7px;
        top: -3px;
        display: none;
        pointer-events: none;
    }
    .progress-number {
        min-width: 40px;
        text-align: center;
    }
    #fsd-elapsed {
        margin-right: 12px;
    }
    #fsd-duration {
        margin-left: 12px;
    }
}
